*,
*::before,
*::after {
  box-sizing: border-box;
}

/* variables */

:root {
  --white: #fff;
  --light1: #f5f4f0;
  --light2: #d7ccc0;
  --light3-brown: #b09a81;
  --grey-the-lightest: #e5e5e5;
  --grey-light: #908d8b;
  --grey-middle: #42413c;
  --grey-dark: #2a2626;
  --orange: #fe8a02;
  --orange-dark: #ea7600;
  --blue: #1085c5;
  --primary: var(--orange);
  --contrast: var(--blue);
  --the-lightest: var(--white);

  /* sizes */

  --content-max-width: 1110px;
}

/* END variables */

/* fonts */

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url(../assets/fonts/Neucha-Regular.ttf);
}

html {
  font-size: 16px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  font-family: OpenSans, sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
.lead,
.intro,
.number {
  font-weight: normal;
  font-family: Neucha, OpenSans, sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
  line-height: 1.2em;
}

h3,
.intro {
  font-size: 34px;
  line-height: 1.2em;
}

h3.content {
  font-weight: 700;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
}

.number {
  font-size: 64px;
}

.lead {
  font-size: 28px;
}

::placeholder {
  font-weight: 400;
  font-size: small;
  font-family: OpenSans, sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-weight: 400;
  font-size: small;
  font-family: OpenSans, sans-serif;
}

/* END fonts */

/* small reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* END small reset */

/* remove vertical spaces */

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

footer h3 {
  margin-bottom: 0;
}

/* END remove vertical spaces */

/* layout */

header .inner,
section .inner,
footer .inner {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

header,
section,
footer {
  padding: 100px 0;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 55px;
}

footer .box {
  flex: 1;
}

footer .box:first-child {
  padding-top: 55px;
  padding-bottom: 55px;
}

footer .box:last-child {
  padding: 38px 0 40px 15px;
}

.page-info-additional {
  margin-top: 76px;

  text-align: center;
}

img {
  max-width: 100%;

  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

button {
  border: 0;
}

h3.content {
  padding: 6px 10px 4px 10px;
}

.video {
  text-align: center;
}

/* END layout */

/* colors and background-images */

html {
  background-color: var(--grey-the-lightest);
}

body {
  color: var(--grey-dark);
}

.deco {
  background-color: var(--primary);
}

.story .inner {
  background-image: url(../assets/img/tota.png);
  background-repeat: no-repeat;
  background-position: 310px 55px;
}

button {
  border: 0;

  color: var(--white);

  background-color: var(--primary);
}

footer {
  background-color: var(--the-lightest);
}

footer .container {
  color: var(--the-lightest);

  background-color: var(--grey-middle);
}

/* themes */
.theme-color-white {
  background-color: var(--white);
}

.theme-color-default,
.theme-color-invert {
  background-image: url(../assets/img/background-pattern.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* --- */

.theme-color-default {
  background-color: var(--light1);
}

.theme-color-default .lead {
  color: var(--grey-light);
}

.theme-color-default h3.content {
  color: var(--white);

  background-color: var(--light3-brown);
}

/* --- */

.theme-color-invert {
  color: var(--white);

  background-color: var(--light3-brown);
}

.theme-color-invert .lead {
  color: var(--light2);
}

.theme-color-invert h3.content {
  color: var(--light3-brown);

  background-color: var(--white);
}

/* --- */

.theme-color-dark {
  background-color: var(--grey-middle);
}

.theme-color-dark .box:not(:first-child) {
  background-color: var(--light1);
}

.theme-color-dark h2 {
  color: var(--white);
}

.theme-color-dark h3 {
  color: var(--primary);
}

/* END themes */

/* additional classes for colors */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-light);

  opacity: 1;

  /* opacity is for Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grey-light);
}

.emphasis {
  color: var(--primary);
}

/* END additional classes for colors */

/* links */

form a:link,
form a:visited {
  color: var(--white);
}

form a:hover,
form a:active,
form a:focus {
  color: var(--primary);
}

.page-info-additional a:link,
.page-info-additional a:visited {
  color: var(--blue);
}

.page-info-additional a:hover,
.page-info-additional a:active,
.page-info-additional a:focus {
  color: var(--grey-dark);
}

/* END links */

/* END colors */

/* test */